/* cssreset */
*{
    padding: 0;
    margin: 0;
}

/* cssreset */
*{
    padding: 0;
    margin: 0;
}

div.header-container{
    background-color: red;
    text-align: center;
    padding: 35px;
}

div.header-container h1{
    color: white;
    border: 4px white solid;
    display: inline;
    padding: 10px;
    border-radius: 30px;
    margin-top: 30px; 
    
}

div.navbar{
    background-color: grey;
    text-align: center;
    padding: 10px;
}
div.navbar a{
    margin-left: 200px;
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

div.banner-image img{
    width: 100%;
    border-bottom: red 10px solid;

}
div.header-container2 h1{
    color:white;
    position: absolute;
    top: 600px;
    left: 800px;
    border-radius: 10px;
    padding: 60px;
    border:solid 4px white ;
    font-size: 60px;
}

div.text-body p{
line-height: 40px;
text-align: justify;
font-size:20px;
margin-left: 150px;
margin-right:150px;
}

footer{
    text-align: center;
    background-color: grey;
    color: white;
    padding: 20px;
}

h1.gallery-page{
    background-color: white;
    color: red;
    text-align: center;
    padding: 40px;
}

div.multi-image{
    text-align: center;
    

}
div.multi-image img{
    width: 45%;
    border-bottom:red 10px solid;
    margin: 5px;
}

div.intro-section h1{
    text-align: center;
    color: red;
    font-size: 50px;
}

div.intro-section p{
text-align: center;
font-size: 30px;
}

div.mario-friends{
    text-align: center;
    margin: 20px 80px;
}

div.friend{
    background-color: lightgray;
    margin: 80px 0px;
    border-radius: 20px;
    font-size: 30px;
    padding: 50px;
}

div.friend h3{
    color: red;
    font-size: 30px;
}

div.friend p{
    line-height: 60px;
    text-align: justify;
    font-size: 30px
}

div.banner img{
    width: 100%;

}
div.banner{
    position: relative;
}

div.form-container{
    position: absolute;
    left: 100px;
    top: 100px;
}

form{
    background-color: lightgrey;
    border-radius: 20px;
    padding: 40px;
}
input{
    font-size: 20px;
}

button{
    font-size: 20px;
    background-color: red;
    color:white;
    margin-bottom: 30px;
    padding: 10px;
}

textarea{
    font-size: 15px;
}
.navbar a:hover{
    color: red;
    text-decoration: underline;
}
h1:hover{
    background-color: red;
    color: white;
    border: none;
}



